<section>
  <h1>About Me</h1>
  <p><img src="http://www.gravatar.com/avatar/ab989bfcd6ed51d34250507f7a248653.png" alt="cam song's avatar"></p>
  <p>Howdy, I'm Cam Song(Song Shaoyin) from Shanghai, China.</p>
  <p>I'm a splendid chap speaking ruby, rails and javascript.</p>
  <p>Find more on <a href="http://github.com/camsong">Github</a>, <a href="http://cn.linkedin.com/pub/cam-song/57/b42/b55/">Linkedin</a>, <a href="https://twitter.com/cam_song">Twitter</a>, <a href="http://ruby-china.org/camel">Ruby China</a></p>
</section>
