<section>
  <h1>Friend Sites</h1>
  <ul>
    <li><a href="http://www.wuhao.me/">吴昊个人博客</a></li>
    <li><a href="http://rubyeye.net/" target="_blank">Ruby中文站</a></li>
    <li><a href="http://miclle.com/" title="Miclle’s posts">Miclle's posts</a></li>
    <li><a href="http://www.nginxs.com/" target="_blank">Eric's linux and nginx!</a></li>
    <li><a href="http://serholiu.com/" title="SErHo的博客">SErHo's Blog</a></li>
    <li><a href="http://www.nanjingui.com/" title="南京UI设计">南京UI设计</a></li>
    <li><a href="http://www.506c.com/" target="_blank">够戏网</a></li>
    <li><a href="http://blog.warmcolor.net/" title="温暖色调的博客, 生活,学习,山地车,骑行,Linux,服务器" target="_blank">温暖色调</a></li>
    <li><a href="http://www.crackedzone.com/" title="Lancer, 一个分享Web应用, 自学PHP开发的空间" target="_blank">CrackedZone</a></li>
  </ul>
</section>
