* {
	margin:0;
	padding:0;
}
body {
	background:#EBEBED;
	color:#333;
	font-size:14px;
	font-family:"BitStream vera Sans", Verdana,Arial, Helvetica, sans-serif;
}
img {
	border:0;
}
a {
	color:#258;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
.fixed {
	clear:both;
}
#container {
	background:#FFF;
	width:600px;
	margin:150px auto 0;
	border:1px solid #B0BEC7;
}
#container #talker {
	float:left;
	padding:13px 13px 0;
}
#container #talker img {
	border:2px solid #FFF;
}
#container h1 {
	font-size:18px;
	font-weight:normal;
	padding:10px 15px;
	background:#F1E9E1;
	margin:1px;
	color:#E05C23;
}
#container p {
	margin-bottom:10px;
}
#container #notice {
	padding:10px 15px;
}
#notice .back {
	display:block;
	padding:15px 0;
}
#container .back a {
	text-decoration:none;
	padding:10px 15px;
	background:#D5E396;
	border-top:1px solid #D5E396;
	border-right:1px solid #B5C98F;
	border-bottom:1px solid #B5C98F;
	border-left:1px solid #D5E396;
	color:#84985D;
	font-weight:bolder;
}
#container .back a:hover {
	text-decoration:none;
	background:#C8DE9D;
	border-top:1px solid #B5C98F;
	border-right:1px solid #D5E396;
	border-bottom:1px solid #D5E396;
	border-left:1px solid #B5C98F;
	color:#60743A;
}