pre {
	word-wrap:break-word; /* Internet Explorer 5.5+ */
}
#submit,
.searchbox .button {
	cursor:hand;
}
.commentlist .comment,
.commentlist .comment .pic,
.commentlist .comment .author,
.commentlist .comment .count,
.commentlist .children #commentform,
.commentlist .children #respond .feed,
.commentlist .children #respond #submit,
.commentlist .children #respond #emoticon {
	position:relative;
}
