.wp-pagenavi {
	padding:5px 0;
}
.wp-pagenavi a {
	padding:5px 8px;
	text-decoration:none;
}
.wp-pagenavi a:hover {
	background:#ECF3D3;
}
.wp-pagenavi span.pages {
	padding:2px 10px 2px 0;
}
.wp-pagenavi span.current {
	background:#FFF;
	padding:6px 8px;
	font-weight:bold;
}
.wp-pagenavi span.extend {
	padding:2px 4px;
}
